<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trang Chủ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'qlda/styles/Home.css' %}">
    <script src="{% static 'qlda/script/Home.js' %}"></script>
</head>
<body>
 {% include 'qlda/includes/Header.html' %}
  <div class="main">
    {% include 'qlda/includes/Sidebar.html' %}

    <div class="content">
      <div class="post-box">
        <div class="create-post-icon">
          <i class="fas fa-pen"></i>
        </div>
        <textarea rows="3" placeholder="Tạo bài đăng..."></textarea>
      </div>

      <div class="post">
        <div class="report-icon" onclick="showReportForm()">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="user">
          <img src="https://i.pravatar.cc/150?img=12" alt="Avatar">
          <div class="username">Phong quản lý</div>
        </div>
        <div class="text">Tôi muốn biết ai là người đã làm việc và có thể xử lý việc này.</div>
        <div class="post-actions">
            <button class="like-btn" onclick="toggleLike(this)">
                <i class="far fa-heart"></i> Thích
            </button>
            <button class="comment-btn" onclick="toggleComment(this)">
              <i class="far fa-comment"></i> Bình luận
            </button>
        </div>
        <div class="comment-input" style="display: none;">
            <img class="comment-avatar" src="https://i.pravatar.cc/150?img=1" alt="Avatar">

            <div class="comment-box">
                <textarea placeholder="Viết bình luận của bạn..."></textarea>
                <label for="comment-image">
                <i class="fas fa-image"></i>
                </label>
                <input type="file" id="comment-image" style="display: none;">
            </div>
            <button class="send-btn">Gửi</button>
        </div>
      </div>

      <div class="post">
        <div class="report-icon" onclick="showReportForm()">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="user">
          <img src="https://i.pravatar.cc/150?img=20" alt="Avatar">
          <div class="username">Thương</div>
        </div>
        <div class="text">Exploring the amazing nature with fresh cool air and wild light.</div>
        <img src="https://picsum.photos/id/1015/400/300" class="content-img" alt="Post Image">

        <div class="post-actions">
            <button class="like-btn" onclick="toggleLike(this)">
                <i class="far fa-heart"></i> Thích
            </button>
            <button class="comment-btn" onclick="toggleComment(this)">
              <i class="far fa-comment"></i> Bình luận
            </button>
        </div>

        <!-- Phần nhập bình luận (ban đầu ẩn) -->
        <div class="comment-input" style="display: none;">
          <img class="comment-avatar" src="https://i.pravatar.cc/150?img=1" alt="Avatar">

          <div class="comment-box">
              <textarea placeholder="Viết bình luận của bạn..."></textarea>
              <label for="comment-image">
              <i class="fas fa-image"></i>
              </label>
              <input type="file" id="comment-image" style="display: none;">
          </div>
          <button class="send-btn">Gửi</button>
        </div>

        <!-- Overlay báo cáo -->
        <div id="overlay-report" class="overlay"></div>

        <!-- Form báo cáo -->
        <div class="report-form" id="report-form">
            <h3 class="report-title">Báo cáo</h3>
            <b>Tại sao bạn báo cáo bài viết này ?</b>
            <div class="radio-group">
                <label>
                    Vấn đề liên quan đến người dưới 18 tuổi
                    <input type="radio" name="reason" value="Under 18">
                </label>
                <label>
                    Bắt nạt, quấy rối hoặc lăng mạ/ lạm dụng/ ngược đãi
                    <input type="radio" name="reason" value="Bullying">
                </label>
                <label>
                    Tự tử hoặc tự gây thương tích
                    <input type="radio" name="reason" value="Self Harm">
                </label>
                <label>
                    Nội dung mang tính bạo lực, thù ghét hoặc gây phiền toái
                    <input type="radio" name="reason" value="Violence">
                </label>
                <label>
                    Nội dung người lớn
                    <input type="radio" name="reason" value="Adult Content">
                </label>
                <label>
                    Thông tin sai sự thật, lựa đảo hoặc gian lận
                    <input type="radio" name="reason" value="False Information">
                </label>
                <label>
                    Quyền sở hữu trí tuệ
                    <input type="radio" name="reason" value="Intellectual Property">
                </label>
                <label>
                    Tôi không muốn xem nội dung này
                    <input type="radio" name="reason" value="Don't Want to See">
                </label>
            </div>
            <button  type="submit" class="send-btn">Gửi</button>
        </div>
    </div>
  </div>
</body>
</html>
