<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- templates/chat/group_chat_room.html -->
    <h2>Nhóm: {{ group.group_name }}</h2>

    <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.sender.username }}</strong>: {{ message.content }}</p>
        {% empty %}
            <p>Chưa có tin nhắn nào.</p>
        {% endfor %}
    </div>

    <form method="POST" action="{% url 'add_group_message' group.id %}">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Nhập tin nhắn..." required>
        <button type="submit">Gửi</button>
    </form>


</body>
</html>